#header {
  background-color: white; /* Grey background */
  padding: 10px 10px; /* Some padding */
  color: black;
  text-align: center; /* Centered text */
  font-size: 50px; /* Big font size */
  font-weight: bold;
  position: fixed; /* Fixed position - sit on top of the page */
  top: 0;
  width: 100%; /* Full width */
  transition: 0.2s; /* Add a transition effect (when scrolling - and font size is decreased) */
  box-shadow: 0px 0px 10px grey;
  border-radius: 0 0 40px 30px;
}


.logo {
  width: 7%;
  height: auto;
  padding-top: 5px;
  padding-bottom: auto;
  display: block;
    margin-left: auto;
    margin-right: auto;
}

.titre {
	margin-top: 110px;
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  
	
}

html,body{
	font-size: 14px;
	color: black;
	height: 100%;
	overflow-x: hidden;
}
.movieposter{
	display: inline-block;
	/*width: 100%;*/
	float: left;
	padding: 0px 15px 0px;
}

.movieposter h3{
	font-family: open sans;
	font-size: 28px;
	color: black;
	font-weight: normal;
	padding-bottom: 8px;
}
.movieposter hr{
	background-color: #fff;
	border: none;
	height: 1px;
	width: 100%;
}
.movie-trailer-grid{
	padding: 30px 30px;
}
.trailer1{
	width: 24%;
	height: auto;
	margin-right: 16px;
	float: left;
	-background: linear-gradient(to top, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 100%);
	transition: 450ms opacity;
}

.trailer1:hover {
	
}

.trailer-last{
	margin-right: 0px;
}

/* Style The Dropdown Button */
.dropbtn {
  background-color:#6EC0C2;
  color: white;
  padding: 16px;
  padding-left: 18px;
  padding-right: 18px;
  font-size: 17px;
  cursor: pointer;
  border-radius: 500px;
  margin-left: 10px;
  border-color: transparent;
  position: relative;
  -webkit-transition: background-color 0.5s; /* Safari */
  transition: background-color 0.5s;
  overflow: auto;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: absolute; /* Don't touch, it works */
  display: grid;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: relative;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 20px;
  margin-left: 10px;
  
}

/* Links inside the dropdown */
.dropdown-content a {
  color: gray;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 14px;
  font-family: Montserrat;
  border-radius: 20px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #44a0a2;
  width: 55px;
  
}